@page "/Edit/{Id:int}"
@using Models
@using Data
@inject ITodoData ITodoData
@inject NavigationManager NavigationManager

<h3>Edit todo with id: @Id</h3>

@if(TodoToEdit==null)
{
    <em>Todo not found!</em>
}
else
{
    <EditForm Model="@TodoToEdit" OnValidSubmit="() => Save()">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
            User Id:<br/>
            <InputNumber @bind-Value="TodoToEdit.UserId"/>
        </div>
        <div class="form-group">
            Title:<br/>
            <InputTextArea rows="4" @bind-Value="TodoToEdit.Title"></InputTextArea>
        </div>
        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Save</button>
        </p>
    </EditForm>
              
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Todo TodoToEdit;

    protected override async Task OnInitializedAsync()
    {
        TodoToEdit = ITodoData.Get(Id);
    }

    private void Save()
    {
        ITodoData.Update(TodoToEdit);
        NavigationManager.NavigateTo("/Todos");
    }
}