@page "/EditAdult/{AdultId:int}"
@using Assignment3_Client.Data
@using Assignment3_Client.Models
@using Microsoft.AspNetCore.Components

@inject IData _data
@inject NavigationManager _navigationManager;

<h3>Edit Adult</h3>


<EditForm Model="@_adultToEdit" OnValidSubmit="@UpdateAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">First Name: <br/>
        <InputTextArea rows="1" @bind-Value="_adultToEdit.FirstName"></InputTextArea>
    </div>
    <div class="form-group">Last Name: <br/>
        <InputTextArea rows="1" @bind-Value="_adultToEdit.LastName"></InputTextArea>
    </div>
    <div class="form-group">Haircolor: <br/>
        <InputTextArea rows="1" @bind-Value="_adultToEdit.HairColor"></InputTextArea>
    </div>
    <div class="form-group">Eyecolor: <br/>
        <InputTextArea rows="1" @bind-Value="_adultToEdit.EyeColor"></InputTextArea>
    </div>
    <div class="form-group">Age: <br/>
        <InputNumber @bind-Value="_adultToEdit.Age"></InputNumber>
    </div>
    <div class="form-group">Weight: <br/>
        <InputNumber @bind-Value="_adultToEdit.Weight"></InputNumber>
    </div>
    <div class="form-group">Height: <br/>
        <InputNumber @bind-Value="_adultToEdit.Height"></InputNumber>
    </div>

    
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Update</button>
    </p>
</EditForm>

@code {
    [Parameter]
    public int AdultId { get; set; }
    
    private Adult _adultToEdit;

    protected override async Task OnInitializedAsync()
    {
         _adultToEdit = _data.GetAdult(AdultId).Result;
    }

    private void UpdateAdult()
    {
        _data.UpdateAdult(_adultToEdit);
        _navigationManager.NavigateTo("/Adults");
    }
}